<div class="swiper-container ele-setting-slide">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="images/imageDesign/wysiwyg.viewer.skins.photo.NoSkinPhoto.v1.png">
        </div>
        <div class="swiper-slide">
            <img src="images/imageDesign/wysiwyg.viewer.skins.photo.MouseOverPhoto.v1.png">
        </div>
        <div class="swiper-slide">
            <img src="images/imageDesign/wysiwyg.viewer.skins.photo.RoundPhoto.v1.png">
        </div>
        <div class="swiper-slide">
            <img src="images/imageDesign/wysiwyg.viewer.skins.photo.CirclePhoto.png">
        </div>
    </div>
    <div class="swiper-button-prev"><i class="mdi mdi-chevron-left"></i></div>
    <div class="swiper-button-next"><i class="mdi mdi-chevron-right"></i></div>
</div>