.add-session-box{
    height: 0px;
    position: relative;
    background-color: #4c4c4c;
    box-shadow: inset 4px 6px 28px rgba(0, 0, 0, .7);
    position: relative;
    transition: height .4s ease;
    -moz-transition: height .4s ease;
    -webkit-transition: height .4s ease; 
    -o-transition: height .4s ease;
    overflow: hidden;
    padding: 0px 0px;
    z-index: 0;
}
.add-session-box.in{
    height: 220px;
}
.session-preview{ 
    padding: 28px 0px;    
    line-height: 0;
    cursor: pointer;
    height: 220px;
    & [flex-item]{
        padding-left: 20px;
        padding-right: 20px;
    }
    & .session-preview-box{
        border-radius: 6px;
        height: 160px;
        width: 100%;
        background-color: #fff;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        
        .transition(0.2s);
        
        &:hover{
            transform: scale(1.05, 1.05);    
            -ms-transform: scale(1.05, 1.05); /* IE 9 */
            -moz-transform: scale(1.05, 1.05); /* Firefox */
            -webkit-transform: scale(1.05, 1.05); /* Safari 和 Chrome */
            -o-transform: scale(1.05, 1.05); /* Opera */
        }
        
    }
}
.session-preview-scroll{
    & .ps-scrollbar-x-rail{
        opacity: 0!important;
    }
    & .ps-scrollbar-y-rail{
        opacity: 0!important;
    }
}