<div class="work-space">

    <div class="edit-space-box" ng-controller="editorCtrl"
         style="background-image: url('images/point.png')">

        <div ng-controller="leftMenuCtrl">
            <div ng-if="modelState=='web'">
                <div ng-include="'views/leftMenu/menuList.html'"></div>
                <div class="menu-content">
                    <div ng-include="'views/leftMenu/content.html'"></div>
                </div>
            </div>
            <div ng-if="modelState=='phone'">
                <div ng-include="'views/leftMenu/appMenuList.html'"></div>
                <div class="menu-content">
                    <div ng-include="'views/leftMenu/appContent.html'"></div>
                </div>
            </div>
        </div>

        <div class="session-limit" ng-show="modelState=='web'"></div>

        <perfect-scrollbar id="main-editor-scroll" class="scroller-page" wheel-propagation="true" wheel-speed="3" ng-if="modelState=='web'">
            <div id="edit-space" class="edit-space" creator website-code="websiteData" right-click-menu-init drag-select-ele="web">
            </div>
        </perfect-scrollbar>

        <perfect-scrollbar class="scroller-page phone" wheel-propagation="true" wheel-speed="3" ng-if="modelState=='phone'">
            <div class="phone-box z-depth-2">
                <div class="phone-top">
                    <img src="images/phone_top.png">
                </div>
                <div class="phone-edit-space-box" style="background-image: url('images/point.png')">
                    <perfect-scrollbar id="main-editor-scroll" class="scroller-page" wheel-propagation="false" wheel-speed="3">
                        <div id="phone-edit-space" class="edit-space phone" creator-phone phone-right-click-menu-init drag-select-ele="phone" website-code="websiteData"></div>
                    </perfect-scrollbar>
                </div>
                <div class="phone-bottom">
                    <img src="images/phone_bottom.png">
                </div>
            </div>
        </perfect-scrollbar>

    </div>
</div>

