<div class="menu-content-item hideEle z-depth-2" ng-controller="previewBoxCtrl"
     ng-class="{true:'active',false:'unActive'}[activeMenu=='hideEle']">
    <div class="line"></div>
    <div class="main-box">
        <div class="left-menu">
            <perfect-scrollbar class="scroller-page" wheel-propagation="true" wheel-speed="5">
                <div class="preview-item z-depth-1" lx-ripple="white" ng-class="{true:'active',false:''}[activeSession==session.ID]" ng-repeat="session in websiteData.sessionList">
                    <div class="preview-session-box" ng-click="selectLayers(session.ID)">
                        <div class="over-shadow"><i class="mdi mdi-checkbox-marked-circle"></i></div>
                        <div class="preview-session phone" create-thumbnail="session" type="phone" ele-type="session">
                        </div>
                    </div>
                    <div class="preview-menu">
                        <i class="mdi mdi-crosshairs-gps"></i>
                        <i class="mdi mdi-eye" ng-class="{true:'active mdi-eye-off',false:'mdi-eye'}[session.showState==false]" ng-click="toggleSession(session.ID,session.showState)"></i>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
        <div class="right-content">
            <div class="title">
                <div class="text">元素列表</div>
                <div class="title-button"><lx-icon class="z-depth-1" lx-id="help" lx-size="xs" lx-color="blue" lx-type="circled"></lx-icon></div>
                <div class="title-button" ng-click="closeMenu();"><lx-icon class="z-depth-1" lx-id="close" lx-size="xs" lx-color="blue" lx-type="circled"></lx-icon></div>
            </div>
            <div class="content scroll">
                <perfect-scrollbar class="scroller-page" wheel-propagation="true" wheel-speed="5">
                    <div class="preview-ele-item z-depth-1" lx-ripple="white" ng-repeat="ele in eleList">
                        <div class="preview-ele-item-box">
                            <div class="over-shadow"><i class="mdi mdi-checkbox-marked-circle"></i></div>
                            <div class="preview-ele" create-thumbnail="ele" type="phone" ele-type="ele"></div>
                        </div>
                        <div class="preview-menu">
                            <i class="mdi mdi-crosshairs-gps"></i>
                            <i class="mdi" ng-class="{true:'active mdi-eye-off',false:'mdi-eye'}[ele.showState==false]" ng-click="toggleEle(ele.ID,ele.showState)"></i>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
        </div>
    </div>
</div>