<div class="resource-box" ng-controller="imageResourceCtrl">

    <div class="line-sub-title-box">
        <div class="line-sub-title">
            {{activeEleList.name}}
        </div>
    </div>

    <div class="resource-content">
        <div class="preview-ele-item image-col col-4" ng-repeat="ele in activeEleList.eleList" insert-ele='ele.data' insert-config='ele.config'>
            <div class="preview-ele-item-box z-depth-1 bg-white" style="height:80px" ng-style="{'background-image':'url('+ele.preview+')'}">
            </div>
        </div>
    </div>

</div>