<div class="resource-box" ng-controller="imageResourceCtrl">

    <div class="line-sub-title-box">
        <div class="line-sub-title">
            {{activeEleList.name}}
        </div>
    </div>

    <div class="resource-content">
        <div class="preview-ele-item image-col col-4" ng-repeat="ele in activeEleList.eleList" insert-ele='ele'>
            <div class="preview-ele-item-box z-depth-1 bg-white">
                <div class="over-shadow"><i class="mdi mdi-checkbox-marked-circle"></i></div>
                <div class="preview-ele" create-thumbnail="ele" preview-height='70' type="web" ele-type="ele"></div>
            </div>
        </div>
    </div>

</div>